@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff")
    format("truetype");
  font-weight: 700;
  font-style: bold;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: OpenSans, san-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-size: cover;
  min-height: 446px;
  position: relative;
}

.header::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-wrapper {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.header-position {
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  max-height: 45px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.item {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding-right: 15px;
}

.header-body {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  position: relative;
  font-size: 43px;
  max-width: 680px;
  text-align: center;
  /*   z-index: 1; */
  padding: 120px 0;
  margin: auto;
}

/* main */

.main {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.content {
  width: 720px;
}

.pic {
  max-height: 290px;
}

.tag {
  gap: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.heading {
  text-transform: uppercase;
  font-weight: 700;
  gap: 10px;
  font-size: 17px;
  text-decoration: none;
  color: black;
}

.meta {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.date {
  font-size: 13px;
  margin-right: 30px;
  color: gray;
}

.author {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.post-text > p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

.post-text > p:not(:first-child) {
  margin-top: 16px;
}

.post {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.post::after {
  content: "";
  display: block;
  background-color: #b59f5b;
  height: 3px;
  width: 50px;
  margin: 10px auto 30px;
}

.header-post {
  margin-top: 62px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /*   width: 272px; */
  max-width: 320px;
  align-items: center;
}

.small-pic {
  max-height: 71px;
}

.new-post {
  display: flex;
  margin-bottom: 25px;
}

.min-date {
  font-size: 13px;
  margin-right: 30px;
  color: gray;
}

.min-heading {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.text-post {
  margin-left: 16px;
}

.subscribes {
  width: 100%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subscribe-form-label {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.subscribe-form-input {
  flex: 1;
  padding: 8px 20px;
  border: none;
  background-color: lightgray;
  height: 48px;
  width: 100%;
}

.subscribe-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #b59f5b;
  height: 48px;
  padding: 14px;
  color: white;
  border: none;
  margin-bottom: 62px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.posts-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 38px;
  margin-bottom: 62px;
}

.posts-search-label {
  display: flex;
  width: 100%;
}

.posts-search-input {
  flex: 1;
  padding: 8px 20px;
  border: none;
  background-color: lightgray;
  height: 48px;
}

.posts-search-button {
  width: 48px;
  background-color: #b59f5b;
  padding: 14px;
  border: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.article-content {
  display: flex;
}

.article-content:not(:first-child) {
  margin-top: 60px;
}

.tag-item {
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid black;
  padding: 4px 15px;
  font-size: 14px;
}

.heading-post {
  margin-top: 64px;
}

.themes {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.theme {
  font-weight: 700;
  width: 100%;
}

li {
  list-style-type: none;
}

.tag-link,
.theme-link {
  color: black;
  text-decoration: none;
}

.theme::after {
  content: "";
  display: block;
  background-color: lightgray;
  height: 1px;
  width: 100%;
  margin: 10px auto 30px;
}

.sup {
  color: #b59f5b;
  vertical-align: super;
  font-size: 13px;
}

.post-section {
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 24px;
}

.link-1 {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.link-2 {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.link-3 {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.container {
  margin-top: 60px;
}

.footer {
  margin: 40px 0 20px;
}

.footer-wrapper {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.footer-address {
  padding: 30px 0;
  background-color: lightgray;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-link {
  text-decoration: none;
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px, cover;
}

.footer-list-link-one {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer-list-link-two {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer-list-link-three {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer-copyright {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: lightgray;
  margin-top: 59px;
  margin-bottom: 27px;
}

.footer-copyright-link {
  text-decoration: none;
  color: gray;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
